{{template "header"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h3>Messages Delivery Aggregation</h3>

<ul>
{{ range .Experiments }}
<li><a href="/deliveredmessagetimesnode?experiment={{ . }}">{{ . }}</a></li>
{{end}}
</ul>

{{ if .ChosenExperiment }}

<h3>Messages Delivery Times</h3>
<div>
    <canvas id="delMessgageTimesChart"></canvas>
</div>
  
<button onclick="downloadGraph()">Download Graph</button>
  
<script>
  const ctx = document.getElementById('delMessgageTimesChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [ {{ .Times }} ],
      datasets: [{
        label: '{{ .ChosenExperiment }}',
        data: [ {{ .Counts }} ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          display: true,
          
          beginAtZero: true,
          title: {
            text: 'Amount of messages',
            display: true
          }
        },
        x: {
          type: 'category',
          display: true,
          title: {
            text: 'Times.',
            display: true
          }
        }
      }
    }
  });
  function downloadGraph() {
        const link = document.createElement('a');
        link.href = document.getElementById('delMessgageTimesChart').toDataURL('image/png'); // Use toDataURL instead of toBase64Image
        link.download = 'delMessgageTimesChart.png';
        link.click();
    }

</script>

{{ end }}

{{template "footer"}}
