{{template "header"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h3>Encounters by Node</h3>

<ul>
{{ range .Datasets }}
<li><a href="/encounters?dataset={{ . }}">{{ . }}</a></li>
{{end}}
</ul>

{{ if .ChosenDataset }}

<h3>Encounters by Node</h3>
<div>
    <canvas id="encountersByNodeChart"></canvas>
</div>
<button onclick="downloadGraph()">Download Graph</button>
  
<script>
  const ctx = document.getElementById('encountersByNodeChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [ {{ .Nodes }} ],
      datasets: [{
        label: '{{ .ChosenDataset }}',
        data: [ {{ .Counts }} ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          display: true,
          type: 'logarithmic',
          beginAtZero: false,
          title: {
            text: 'Number of encounters',
            display: true
          }
        },
        x: {
          display: true,
          title: {
            text: 'Node no.',
            display: true
          }
        }
      }
    }
  });
  function downloadGraph() {
        const link = document.createElement('a');
        link.href = document.getElementById('encountersByNodeChart').toDataURL('image/png'); // Use toDataURL instead of toBase64Image
        link.download = 'encountersByNodeChart.png';
        link.click();
  }

</script>

{{ end }}

{{template "footer"}}
