{{template "header"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h3>Available datasets</h3>

<ul>
{{ range .Datasets }}
<li><a href="/eventsByNode?dataset={{ . }}">{{ . }}</a></li>
{{end}}
</ul>

{{ if .ChosenDataset }}

<h3>Number of Events by Node</h3>
<div>
    <canvas id="numEventsByNodeChart"></canvas>
</div>
  
  
<script>
  const ctx = document.getElementById('numEventsByNodeChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [ {{ .Nodes }} ],
      datasets: [{
        label: '{{ .ChosenDataset }}',
        data: [ {{ .Events }} ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          display: true,
          type: 'logarithmic',
          title: {
            text: '# events',
            display: true
          }
        },
        x: {
          display: true,
          title: {
            text: 'Node no.',
            display: true
          }
        }
      }
    }
  });
</script>

{{ end }}

{{template "footer"}}
