{{template "header"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h3>Messages per Node</h3>

<ul>
{{ range .Experiments }}
<li><a href="/messagespernode?experiment={{ . }}">{{ . }}</a></li>
{{end}}
</ul>

{{ if .ChosenExperiment }}

<h3>Messages sent per Node</h3>
<div>
    <canvas id="messagesPerNodeChart"></canvas>
</div>
  
<button onclick="downloadGraph()">Download Graph</button>

<script>
  const ctx = document.getElementById('messagesPerNodeChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [ {{ .Nodes }} ],
      datasets: [{
        label: '{{ .ChosenExperiment }}',
        data: [ {{ .Counts }} ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          display: true,
          
          beginAtZero: false,
          title: {
            text: 'Amount of messages',
            display: true
          }
        },
        x: {
          display: true,
          title: {
            text: 'Node no.',
            display: true
          }
        }
      }
    }
  });

  function downloadGraph() {
        const link = document.createElement('a');
        link.href = document.getElementById('messagesPerNodeChart').toDataURL('image/png'); // Use toDataURL instead of toBase64Image
        link.download = 'messagesPerNodeChart.png';
        link.click();
    }

</script>

{{ end }}

{{template "footer"}}
