{{template "header"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h3>Messages per Node</h3>

<ul>
{{ range .Experiments }}
<li><a href="/messagesrecpernode?experiment={{ . }}">{{ . }}</a></li>
{{end}}
</ul>

{{ if .ChosenExperiment }}

<h3>Messages received per Node</h3>
<div>
    <canvas id="messagesRecPerNodeChart"></canvas>
</div>

<button onclick="downloadGraph()">Download Graph</button>

<script>
  const ctx = document.getElementById('messagesRecPerNodeChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [ {{ .Nodes }} ],
      datasets: [{
        label: '{{ .ChosenExperiment }}',
        data: [ {{ .Counts }} ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          display: true,
          
          beginAtZero: true,
          title: {
            text: 'Amount of messages',
            display: true
          }
        },
        x: {
          display: true,
          title: {
            text: 'Node no.',
            display: true
          }
        }
      }
    }
  });

  function downloadGraph() {
        const link = document.createElement('a');
        link.href = document.getElementById('messagesRecPerNodeChart').toDataURL('image/png'); // Use toDataURL instead of toBase64Image
        link.download = 'messagesRecPerNodeChart.png';
        link.click();
    }
</script>

{{ end }}

{{template "footer"}}
