{{template "header"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<h2>Reports</h2>

<h3>Reports on Datasets</h3>
<ul>
    <li><a href="/datasetsList">Datasets list</a></li>
    <li><a href="/experimentsList">Experiments list</a></li>
    <li><a href="/eventLocations">Event locations</a></li>
    <li><a href="/encounters">Number of encounters by node</a></li>
    <li><a href="/eventsByNode">Number of events by node</a></li>
    <li><a href="/spansByNode">Timespans by node</a></li>
</ul>

<h3>Reports on Encounters</h3>
<ul>
    <li><a href="/encounterLocations">Encounter locations</a></li>
</ul>

<h3>Reports on Experiments</h3>
<ul>
    <li><a href="/messagespernode">Messages Sent per node</a></li>
    <li><a href="/messagesrecpernode">Messages Received per node</a></li>
    <li><a href="/messgagetimesnode">Messages Transfer statistics</a></li>
    <li><a href="/deliveredmessagetimesnode">Messages Delivery statistics</a></li>
    <li><a href="/deliveryRateChart">Messages Delivery Rate</a></li>
    <li><a href="/deliveryratebyexperimentchart">Messages Delivery Rate By Experiment</a></li>
    <li><a href="/metricsboxes">Metrics of Finished Experiments</a></li>
    
</ul>

{{template "footer"}}
